body {
    background-color: #181818;
    color: white;
}

.container {
    max-width: 90%;
}

.CodeMirror {
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #2b2b2b;
    color: white;
}

.output-box {
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #444;
}

#outputField {
    background-color: black;
    color: #0f0;
    font-family: monospace;
    height: 400px;
    resize: none;
    border: none;
}
